{% extends 'padre.html' %}

{% block title_head%}
<title>Programas</title>
{% endblock title_head%}

{% block h1_header%}
<h1>Listado de programas de podcast</h1>
{% endblock h1_header%}


{% block contenido%}
<a class="navbar-brand" href="{% url 'crear_programa'%}"> Crear Programa</a>
<p>
    <form action={% url 'lista_programas'%} method="get">
        {{formulario}}
        <button>Buscar</button>
    </form>
</p>


{%if programas%}
    {% for programa in programas%}
    <li>
        Nombre: {{programa.nombre}} -- Genero: {{programa.genero}} -- Idioma: {{programa.idioma}} -- Productora: {{programa.genero}}
    </li>
    {% endfor%}
{%else%}
    <h2> No hay programas cargados!!</h2>
{% endif%}
{% endblock contenido%}