{% extends 'padre.html' %}

{% block title_head%}
<title>Programas</title>
{% endblock title_head%}

{% block h1_header%}
<!-- A diferencia del anterior ahora poniendo solo animal ya sabe el animal porque la CBV de por sí ya tiene el 
objeto completo(animal en este caso)-->
<h1>{{programa}}</h1>
{% endblock h1_header%}


{% block contenido%}
<!--ul es una etiqueta para poner dentro de una lista desordenada -->
<ul>
    <li>Nombre: {{programa.nombre}}</li>
    <li>Genero: {{programa.genero}}</li>
    <li>Idioma: {{programa.idioma}}</li>
    <li>Fecha de Lanzamiento: {{programa.fecha_lanzamiento}}</li>
    <li>Productora: {{programa.productora}}</li>
    <li>Descripcion: {{programa.descripcion  | safe}}</li>
</ul>
<button>
    <a class="navbar-brand" href="{% url 'modificar_programa' programa.id %}">Modificar</a>
</button>
    <button>
<a class="navbar-brand" href="{% url 'eliminar_programa' programa.id %}">Eliminar</a>
</button>

{% endblock contenido%}