{% extends 'padre.html' %}


{% block title_head %}
    <title>Cambio Contraseña</title>
{% endblock title_head %}

{% block h1_header %}
<h1>Cambio Contraseña</h1>
{% endblock h1_header %}

{% block contenido%}

<!--Si hay error en la carga de los datos del usuario mostrará esto:-->
{%if formulario.errors %}
<p style="color: red"> Hay errores</p>
{%endif%}
<!--El formulario con la carga de usuario.-->
<form action="{% url 'cambio_contrasenia' %}" method="POST">
    {% csrf_token %}
    <table>
        {{form}}
    <table>
    <button>Cambiar</button>
</form>

{% endblock contenido%}